<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #termino class="form-control" placeholder="Buscar por..." type="text" (keyup)="buscarUsuario(termino.value)">
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="cargando">
    <div class="col-12 text-center">
        <div class="alert alert-warning">
            <div><strong>Cargando</strong></div>
            <div><i class="fa fa-refresh fa-spin fa-2x"></i></div>
            <span>Espere por favor</span>
        </div>
    </div>
</div>
<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Usuarios registrados ( <small>{{ totalRegistros }}</small> )</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Correo</th>
                            <th>Nombre</th>
                            <th>Role</th>
                            <th>Auth</th>
                            <th>
                                <select [ngModel]="items" #itemsPages class="form-control" (change)="mostrarItems( itemsPages.value )">
                                   <option value="5">5</option> 
                                   <option value="10">10</option>
                                   <option value="15">15</option>
                                   <option value="20">20</option>
                                   <option value="25">25</option>
                                </select>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios | paginate: { itemsPerPage: items, currentPage: p }">
                            <td><img (click)="mostrarModal( usuario._id )" class="rounded puntero" [src]="usuario.img | imagen" width="50"></td>
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.nombre }}</td>
                            <td>
                                <select class="form-control" [(ngModel)]="usuario.role" name="role">
                                    <option value="ROLE_ADMIN">ADMIN ROLE</option>
                                    <option value="ROLE_USER">USER ROLE</option>
                                </select>
                            </td>
                            <td>
                                <label *ngIf="usuario.google" class="label label-danger">Google</label>
                                <label *ngIf="!usuario.google" class="label label-info">Normal</label>
                            </td>
                            <td>
                                <button (click)="guardarUsuario( usuario )" class="btn btn-primary mr-1"><i class="fa fa-save"></i></button>
                                <button (click)="borrarUsuario( usuario )" class="btn btn-danger ml-1"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event" maxSize="9" directionLinks="true" autoHide="true" responsive="true" previousLabel="Anterior" nextLabel="Siguiente" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
            </div>
        </div>
    </div>
</div>