/* You can add global styles to this file, and also import other style files */

.puntero {
    cursor: pointer;
}

.fondoNegro {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.oculto {
    display: none;
}